* {
  box-sizing: border-box;
}

header {
  background-color: #f9f9f9;
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
header img {
  height: 50px;
}

.container {
  display: flex;
  margin-top: 10px;

  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

iframe {
  height: 0px;
  width: 1000px;
}

.card {
  background-color: #f9f9f9;
  display: flex;
  border: 1px solid #f9f9f9;
  width: 400px;
  min-height: 300px;
  overflow: hidden;
  padding: 10px 30px;
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  cursor: pointer;
  padding-top: 50px;
}

iframe.showIframe {
  align-items: center;
  height: 350px;
}
